html {
    box-sizing: border-box;
}
body {
    font-family: 'OpenSans', Verdana, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
}
header {
background-color: rgb(51, 4, 51);
}
header {
    color: rgb(209, 207, 209);
    padding-left: 20px;
}
nav {
background-color: rgba(121, 80, 122, 0.815);
}
main {
background-color: rgb(221, 218, 221);
flex-grow: 1;
padding: 20px;
}
footer {
background-color: darkgray;
}
p {
    max-width: 650px;
}
li {
    display: inline;
    margin-right: 10px;
}
.column1of2 {
    float: left;
    width: 620px;
    margin: 10px;
}
.column2of2 {
    float: left;
    width: 620px;
    margin: 10px;
}